.contact-us__subtitle {
  text-transform: uppercase;
  font-size: 52px;
  line-height: 72px;
  font-weight: bold;
  color: #7C83B1;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .contact-us__subtitle{
    font-size: 34px;
    line-height: 48px;
    padding-bottom: 24px;
  }
}
