.footer__navigation-link {
  color:white;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.footer__navigation-link:hover {
  color: #5A6FDD;
  cursor: url(../../../image/Cursor\ –\ Hand.svg), pointer;
}

.footer__navigation-link:active {
  color: #5265CB;
}