.header__login {
  padding: 0;
  align-self: center;
  fill: #201E33; 
  stroke: #201E33;
  
}

.header__login:hover {
  cursor: pointer;
  fill: #5A6FDD;
  stroke: #5A6FDD;
  cursor: url(../../../image/Cursor\ –\ Hand.svg), pointer;
}

.header__login:active {
  fill: #5265CB;
  stroke: #5265CB;
}