.form__check-description {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: black;
  padding: 0;
  margin: 0;
  font-family: 'Lora Italic', Arial, sans-serif;
  width: 90%;
}

@media screen and (max-width: 960px) {
  .form__check-description  {
    font-size: 14px;
    line-height: 20px;
  }
}
