.swiper {
  width: 866px;
  height: 460px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .swiper {
    width: 87%;
    height: 380px;
  }
}

@media screen and (max-width: 500px) {
  .swiper {
    width: 87%;
    height: 184px;
  }
}