.header__logo {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 14px;
  left: 65px;
  
}

@media screen and (max-width: 1280px) {
  .header__logo {
    top: 14px;
    left: 25px;
  }
}

@media screen and (max-width: 1055px) {
  .header__logo {
    top: 14px;
    left: 10px;
  }
}