.header__navigaton {
  display: grid;
  column-gap: 32px;
  grid-template-columns: repeat(8, max-content);
  margin: 36px auto;
}

@media screen and (max-width: 1055px) {
  .header__navigaton {
    column-gap: 15px;
  }
}