.header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #201E33;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  align-self: center;
}

.header__link:hover {
  cursor: url(../../../image/Cursor\ –\ Hand.svg), pointer;
  color: #5A6FDD;
}

.header__link:active {
  color: #5265CB;
}