.swiper__button-box {
  margin: 0 auto 80px;
  width: 866px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .swiper__button-box {
    width: 90%;
    margin: 8px auto 48px;
  }
}