.form__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #201E33;
  text-transform: uppercase;
  margin: 0 0 56px 0 ;
}

@media screen and (max-width: 960px) {
  .form__title  {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 28px 0 ;
  }
}
