.footer__navigation {
  padding: 80px 64px 80px 64px;
  border-top: 1px solid #5265CB;
  border-bottom: 1px solid #5265CB;
  display: grid;
  gap: 32px;
  grid-template-areas: 
    'univercity urist project contact  social'
    'univercity urist press   services special'
}